
<h1>Password generator</h1>

<div class="text">
  <label>Enter length</label>
  <input type="number" [value]="length" (input)="onChangeLength($event)" >
</div>

<div class="config">
  <div class="letter">
    <label >Use Letter</label>
    <input type="checkbox" (change)="useLetter()" [value]="wantLetter">
  </div>
   <div class="symbols">
    <label >Use symbols</label>
    <input type="checkbox" (change)="useSymbols()" [value]="wantSymbols">
  </div>
   <div class="numbers">
    <label >Use numbers</label>
    <input type="checkbox" (change)="useNumbers()" [value]="wantNumbers">
  </div>
</div>

<!--! Event binding syntax-->
<div class="submitBtn" >
  <Button (click)="generate()" [disabled]="!length || (!wantLetter && !wantNumbers && !wantSymbols)">Generate</Button>     
</div>

<div class="generatedPass">
  <label >Your Password</label>
  <!--! Property binding syntax-->
  <!-- <input type="text" [value]="password"> -->
  <input type="text" [value]="getPassword()">  
</div>

<div class="container">
  <button class="btn btn-primary">Click me!</button>
</div>

<!--!Interpolation-->
<!-- {{ getPassword() }} <br>    
{{ password }} -->


